html{
    scroll-behavior: auto !important;
}
body{
    font-family: 'Roboto', sans-serif;
    color:#ffffff;
}



.menu{
    font-size: 18px;
    font-weight: 400px;
}

.listado{
    padding-left: 500px;
    justify-content: space-between;
    color: #ffffff;
    
}
.fotos{
    height: 60%;
    width: auto;
    object-fit: cover;

}

#descripcion{
    background-color: black;
    color: #ffffff;  
    font-weight: 300px;
}

#destacados{
    background-color: black;
    color: #ffffff;  
    font-weight: 300px;
}

.foto-card {
    size: cover;
    height: 200px;
}
#contacto{
    background-color: black;
    color: #ffffff;  

}
.contact-container{
    padding-left: 200px;
    padding-right: 200px;
}
